<launch>
  <arg name="param_file" default="estimator_parameters.yaml"/>
  <rosparam command="load" file="$(arg param_file)"/>
  <arg name="IMU_w" default="0.0,0.0,0.0"/>
  <arg name="IMU_rpy" default="0.0,0.0,0.0"/>
 
  <group ns="IMU_Model">
    <node pkg="estimate_this" name="imu_sim" type="imuModel.py" args="-w:$(arg IMU_w) -e:$(arg IMU_rpy)"/>
  </group>
  
  <group ns="Att_Estimator">
    <arg name="CF_rate" default="100"/>
    <node pkg="estimate_this" name="forbes_filt" type="mahoneyRun.py" args="-r:$(arg CF_rate)" />
  </group>

  <group ns="AttError_CompFilt">
     <arg name="true_topic" default="/imu/EulAngData"/>
     <arg name="est_topic" default="/mahoney_fil/RPY"/>
     <node pkg="estimate_this" name="att_error_cf" type="errorNode.py" args="-t:$(arg true_topic) -e:$(arg est_topic)" />
   </group>
  

<!--

    <group ns="Att_EstimatorUKF">
        <arg name="CF_rate" default="100"/>
        <node pkg="estimate_this" name="ukf_filt" type="ukfRun.py" args="-r:$(arg CF_rate)" />
    </group>

  
  <group ns="AttError_UKF">
     <arg name="true_topic" default="/imu/EulAngData"/>
     <arg name="est_topic" default="/ukf_fil/RPY"/>
     <node pkg="estimate_this" name="att_error_ukf" type="errorNode.py" args="-t:$(arg true_topic) -e:$(arg est_topic)" />
  </group>


<!-->

</launch>
